
* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
@font-face {
  font-family: 'MiFuente1';
  src: url('/fonts/big_noodle_titling_oblique.ttf');
}
@font-face {
  font-family: 'MiFuente2';
  src: url('/fonts/big_noodle_titling.ttf');
}
.navbar{
  display: flex;
  background-color: #046c9c;
  max-width: 100%;
  height: 5vh;
  width: 100vw;
  border-bottom: 3px solid #04618c;
  border-top: 3px solid #04618c;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  position: relative;

}
.titulo {
  color:white;
  font-size: 10vw;
  width: 100vw;
  text-align: center;
  font-family: 'MiFuente2';
  white-space: nowrap;
  font-weight: 100;
}
.container{
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  position: relative;
}
@keyframes cambia-color {
  0% {
    color: #018bd2;
  }
  50% {
    color: #1bc2ea;
  }
  100% {
    color: #046a9b;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.prescribelaw{
  font-family: 'MiFuente1';
  width: 100%;
  text-align: center;
  color:#333333;
  animation: cambia-color 5s linear infinite;
  text-decoration: none;
  animation: teclear 3s steps(16);
}
.prescribelaw2{
  font-family: 'MiFuente1';
  width: 100%;
  text-align: center;
  color:#333333;
  animation: cambia-color 5s linear infinite,teclear 3s steps(17) infinite;
  text-decoration: none;
}
.prescribelawTouch{
  font-family: 'MiFuente1';
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color:#333333;
  animation: cambia-color 5s linear infinite, entrada 3s;
  text-decoration: none;
}
a{
  color: black;
  animation: cambia-color 5s linear infinite;
  text-decoration: none;
}

@media (min-width: 992px) {
  .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar{
    height: 5rem;
  }
  .titulo{
    font-size: 5rem;
  }
}
.animacion-entrada-salida {
  position: relative;
  animation-duration: 3s;
}


@keyframes salida {
  from {
      left: 50%;
      opacity: 1;
  }
  to {
      left: 100%;
      opacity: 0;
  }
}

.animacion-entrada-salida {
  animation-name: entrada;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.animacion-entrada-salida:hover {
  animation-name: salida;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}