#root{
  padding: 0;
  width: 100vw;
  height: 100vh;
}
@font-face {
  font-family: 'MiFuente1';
  src: url('./fonts/big_noodle_titling_oblique.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuente2';
  src: url('./fonts/big_noodle_titling.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}